h3 {
  background-color: #ececec;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info p {
  margin: 5px 0;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.input-group label {
  margin-right: 10px;
}

.input-group input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.alert {
  position: fixed;
  top: 20px; /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745; /* Green background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000; /* Show on top of other elements */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 20px; opacity: 1; }
}

@keyframes fadeout {
  from { top: 20px; opacity: 1; }
  to { top: 0; opacity: 0; }
}
