.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
}
.title{
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

.search-box {
  border: 2px solid #003366; /* Blue border */
  border-radius: 20px; /* Rounded borders */
  padding: 5px 10px; /* Some padding */
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  max-width: 90%; /* Limit the maximum width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px; /* Size of the font */
  width: 100%;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  color: #0000ff; /* Blue color */
  margin-right: 5px;
}

.clear-icon {
  color: #ff0000; /* Red color */
  margin-left: 5px;
}


input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
}

.tab-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
}

.tab-list li {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.tab-list li.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.error-message {
  color: black;
  background-color: lightpink;
  padding: 10px;
  margin-top: 100px; /* Adjust as necessary to position under the search box */
  text-align: center;
  width: 50%; /* Adjust width as necessary */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional for a slight shadow */
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-left: 180px;
  margin-right: 180px;
  /*width: 60%;*/
  display: flex; /* This will align the divs horizontally */
  justify-content: space-between; /* This will space the divs evenly */
  padding: 10px;
}

/*.company-profile, .company-logo, .company-price {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/
.company-profile {
  /* Styles for stock symbol */
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  text-align: center;
}
.company-logo img{
  /* Styles for stock logo */
  display:flex;
  justify-content: center;
  width: 80px;
  height: auto;


}
.company-price {
  /* Styles for stock price */
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

button {
  border: none; /* Removes the border */
  background: transparent; /* Makes the background transparent */
  padding: 0; /* Removes the padding */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}
.inWatchList, .notInWatchList {
  font-size: 24px; /* Sets the size of the star */
}

.firstE{
  font-size: 25px;
}
.secondE{
  font-size: 20px;
  color: grey;
}
.thirdE{
  font-size: 15px;
  color: grey;
}
/*.summaryP1{*/
/*  margin-left: 50px;*/
/*}*/
/*.summaryP2{*/
/*  !*align-items: center;*!*/
/*  text-align: center;*/
/*}*/
/*#aboutC{*/
/*  font-size: 20px;*/
/*  text-decoration:underline;*/
/*}*/
.summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* This ensures that summaryP1 and summaryP2 are on the left side. */
.summaryP1, .summaryP2 {
  flex: 1; /* This allows the boxes to grow and occupy available space */
  margin-right: 10px; /* Add some space between the left and right sections */
}

/* This ensures that summaryP3 is on the right side. */
.summaryP3 {
  flex-basis: 40%; /* Adjust the width of the chart area */
  /* If the chart needs to be a fixed width, use 'flex: none;' and set a width. */
}

.news-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-between; /* Distributes space between and around content items */
  gap: 10px; /* Adds space between the blocks */
  margin-left: 50px;
  margin-right:50px;
  margin-top: 20px;
}
.news-item {
  display: flex;
  align-items: center;
  background-color: lightpink;
  width: calc(50% - 5px);
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.news-item img {
  width: 100px; /* Ensures the image is responsive and fits its container */
  height: 80px; /* Maintains the aspect ratio of the image */ /* Adds space between the image and the headline */
  margin-right: 10px;
}

.news-title {
  flex-grow: 1; /* Allows the title to take up the remaining space */
  text-align: center; /* Centers the title text horizontally */
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px 0;


}
th, td {
  /*border: 1px solid #ddd;*/
  text-align: center;
  padding: 8px;
}
/*th {*/
/*  !*background-color: #f2f2f2;*!*/
/*}*/
tr {
  border-bottom: 2px solid lightgrey; /* Add underscore line */
}
.header {
  /*background-color: #eaeaea;*/
  font-weight: bold;
}
.header th {
  border-bottom: 2px solid lightgrey; /* Add underscore to header cells */
}
#tab4F{
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.sell-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.autocomplete-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1000;
  background: white;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.autocomplete-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-dropdown li:hover {
  background-color: #f2f2f2;
}

.alert{
  width: 100%;
  background-color: lightgreen; /* Green background */
  color: black;
  padding: 5px;
  position: fixed;
  top: 170px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#statusM {
  width: 100%;
  color: red;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.green {
  color: green;
}

.red {
  color: red;
}

.triangle-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid green;
  margin-right: 5px;
}

.triangle-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid red;
  margin-right: 5px;
}

.summary-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns items to the start of the flex container */
  justify-content: space-between; /* Puts maximum space between items */
}

/* Left column container */
.left-summary {
  display: flex;
  flex-direction: column; /* Stacks summaryP1 and summaryP2 on top of each other */
  justify-content: space-between;
  flex: 1; /* Takes up the remaining space */
  max-width: calc(60% - 10px); /* Adjusts the width and accounts for margin */
}
.summaryP1 {
  margin-left: 100px;
  margin-top: auto;
  margin-bottom: auto; /* Pushes .summaryP2 down */
}
.summaryP2 {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  text-align: center;
}

/* Right column for the chart */
.summaryP3 {
  flex-basis: 40%; /* Takes up 40% of the container's width */
  /* If you need a fixed width for the chart container, you can set a specific width */
}


@media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
  .search-box {
    width: 50%; /* Half-width on larger screens */
    /* Additional styling for larger screens */
  }
}

/* Media query for desktops and larger screens */
@media (min-width: 1024px) {
  .search-box {
    width: 30%; /* Narrower width on large desktop screens */
    margin-left: auto;
    margin-right: auto;
    /* Additional styling for desktop screens */
  }
}
  @media (max-width: 768px) {
    .summary-container {
      flex-direction: column;
      align-items: center; /* Center the children horizontally in the container */
    }

    .left-summary,
    .summaryP1,
    .summaryP2 {
      width: 100%; /* Full width on smaller screens */
    }

    .summaryP2 {
      justify-content: center;
      align-items: center;
    }

    .summaryP3 {
      width: 100%; /* Chart takes full width on small screens */
      order: -1; /* Move chart above the summary information on small screens if desired */
    }
  }
